<mat-toolbar color="accent" class="mat-elevation-z6">
        <span class="fill-remaining-space">
          
          <!-- <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item>
              <mat-icon>people_outline</mat-icon>
              <span>Connecting</span>
            </button>
            <button mat-menu-item>
              <mat-icon>videocam</mat-icon>
              <span>Let's talk</span>
            </button>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu> -->
        </span>
        <span class="fill-remaining-space" >Hotel Booking</span>
        <button mat-raised-button  *ngIf="!authService.isUserAuthenticated()" routerLink="/signUp"> Login </button>
        <button mat-raised-button (click)="logout()" *ngIf="authService.isUserAuthenticated()" > Logout </button>
      </mat-toolbar>
<router-outlet></router-outlet>